.img{
    width: 200px;
    margin-left: 550px;
}
.type{
    color:#000000;
    font-size: 40px;
    margin-left: 250px;
}
.bag{
    color:#000000;
    font-size: 40px;
}
.signin{
    color:#000000;
    font-size: 40px; 
}
.video{
    margin-left: 20px;
}
.collection{
    font-size: 80px;
    margin-left: 200px;
}
.end{
    background: black;
    height: 200px;
}
.logo{
   width: 50px;
   height: 40px;
   margin-left: 150px;
}
.tools{
     width: 40px;
   height: 30px;

}
.photo{
    width:1300px;
    margin-left: 20px;
}