@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

:root {
    --accent-color: rgb(153, 11, 11);
    --main-color: black;
    font-family: 'Dancing Script', cursive;;
    scroll-behavior: smooth;
}
body {
    max-width: 1300px;
    margin: auto;
}
.toolsstyle{
    display: flex;
    align-content: flex-end;
    justify-content:flex-end ;

}
.tools{
    width: 25px;
    margin-top: 25px;
}
 .logo{
    width: 200px;
    display:block;
    margin:0 auto;
 }
main nav .menu{
    display: flex;
    justify-content: space-around;
    padding: 0;
    list-style-type: none;
    font-size: 40px;
}
main nav .menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
    border: 1px solid transparent;
    padding: 5px;
}
maine nav .menu a:hover {
    border: 1px solid var(--accent-color);
}
section .video{
    width: 100%;
    align-content: center;
}
 section .collection{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
}
.photostyle{
    width: 100%;
}
@media (min-width: 400px) {
    .photo{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
        }
    }
@media (min-width: 800px){
 .photo {
        grid-template-columns: 1fr 1fr;
         }
    }
    @media (min-width: 1200px){
 .photo {
        grid-template-columns: 1fr 1fr 1fr;
         }
    }
 .end{
    background: black;
    height: 200px;
}
.position{
   display: flex;
    align-content: center;
    justify-content: space-around;
    text-align: center;

}
 .icon{
    width: 40px;
    margin-top: 75px;
 }
.bag{
    color:#000000;
    font-size: 40px;
}
.signin{
    color:#000000;
    font-size: 40px;
}




